/* 7a5c61-f7accf-e8f0ff-6874e8-392759 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding: 0px;
  margin: 0px;
  background-color: #ecefff;
  color: #7a5c61;
}
/* loading-page */
.loading-page{
  display: block;
  width: 3rem;
  height: 3rem;
}
.load-mes{
  width: 20rem;
  margin-left: -8rem; 
  font-size: 20pt;
}
.loader {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #3498db;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main-page{
  display: none;
}
#welcome-page{
  display: none;
  padding-left: 1rem;
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}
#welcome-page #btnPlay{
  margin-top: 3rem;
}
#welcome-page #btnPlayWithFriend{
  margin-top: 1rem;
}
#welcome-page h1{
  color: #7a5c61;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 5rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#welcome-mes{
  font-size: 12pt;
  color: #7a5c61;
}
#welcome-page #play-section{
  width: 100%;
  max-width: 250px;
  padding: 2rem;
  margin: 0 auto;
}
#welcome-page #roomCode{
  margin-top: 0.2rem; 
  text-align: center;
}
@media (max-width: 767.98px) {
  #welcome-page h1{
    font-size: 2rem;
  }
}

#main-page{
  height: 100%;
  width: 100%;
}
.padding{
  padding: 2rem;
} 
#chat-room{
  background-color: #c3d8ff;
  border-radius:5px;
  height: 100%;
}
#chat-mes span{
  display: block;
}
#player-list{
  text-align: left;
}
.nav{
  height: 3rem;
  width: 100%;
  background-color: #ced4da;
  float: right;
}
.nav .title{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  padding-left: 2rem;
}
.nav .btn{
  margin-left: 1rem;
  margin-top: 0.5rem;
  height: 2rem;
}
#painter{
  background-color: #ffffff;
  height: 100%;
}
canvas{
  width: 100%;
  height: 100%;
}

/* 7a5c61-f7accf-e8f0ff-6874e8-392759 */
#score-broad{
  border-radius:5px;
  background-color: #ffbcdb;
  padding: 2rem;
  padding-top: 1rem;
  height: 100%;
}
#chat-room{
  padding: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  text-align: left;  
}
#chat-room #chat-input{
  position:absolute;
  width: 100%;
  bottom:1rem;
}
#chat-room input{
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 80%;
}
#chat-room button{
  width: 4.5rem;
  margin-top: 0.3rem;
  margin-left: calc(80% - 4.5rem);
}
#chat-mes{
  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;
}
.system{
  color: #ff9205;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
